<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621559569225-kletkp3gvhidqn1b0ha1dheu2kb7ebps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621559569225-kletkp3gvhidqn1b0ha1dheu2kb7ebps</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>621559569225-hujrco8d7pehbarrb7mcbt3kjti21hp3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyClj-BH7Zw4gAUAxkpahJQj1pufb9u9P9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>621559569225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nobislink.backyardadus</string>
	<key>PROJECT_ID</key>
	<string>backyard-adus-automation</string>
	<key>STORAGE_BUCKET</key>
	<string>backyard-adus-automation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621559569225:ios:97fe52f4ad3ac781879898</string>
</dict>
</plist>